.custom-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }